body{
    font-family: 'Fascinate', cursive;
    background:#e8eedd;
}

.header_div{
    background-color: rgba(150, 168, 158, 0.944);
    color:red;
}

.header_div p{
    font-family: 'Roboto', sans-serif;
    color:#2517e0;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top:30px;
    width:130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
   position: fixed;
   color:#404042;
   bottom:0;
   width:100%;
   font-size: 18px;
   background-color: hsl(207, 79%, 74%);
   line-height: 3;
   text-align: center;
   text-shadow: 5px 5px 5px rgb(151, 149, 149);
}